# Ignore build artifacts
/build/
/x64/
/Debug/
/Release/
/bin/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake

# Visual Studio files
.vs/
*.vcxproj*
*.sln
*.user
*.suo
*.ncb
*.opensdf
*.sdf
*.cache
*.db

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.class
*.ch8

#Inside CHIP8
.CHIP8/
log.txt
x64/
*.vcxproj.user